.friend {
  display: flex;
  align-items: center;
  width: 95%;
  margin: auto;
  justify-content: space-between;
  background-color: #1d415c;
  &:hover {
    background-color: rgba(128, 128, 128, 0.134);
    transition: all 0.2s;
  }
}

.friendUl {
  list-style-type: none;
  overflow: scroll;
  display: flex;
  margin: 0;
  padding: 1%;
  width: 96%;
  flex-direction: column;
}

.friendLI {
  list-style-type: none;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  background-color: #1d415c;
  border: 1px solid black;
  margin: 3px 0;
  border-radius: 4px;
}

.friendLink {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.petitePP {
  width: 35px;
  margin-right: 1vh;
}

.search {
  width: 97%;
  background-color: rgba(128, 128, 128, 0.425);
  border-radius: 5px;
  border: 2px solid gray;
  background-color: rgba(128, 128, 128, 0);
  padding: 5px;

  &:focus {
    outline: none;
  }
}
